{% extends 'base.html' %} {% load static %} 
{% block title %} Cart items {%endblock title %} 
{% block content %}

<!-- Page Add Section Begin -->
<section class="page-add cart-page-add">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="page-breadcrumb">
          {% if cart %}
          <h2>Cart ({{cart|length}})</h2>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Page Add Section End -->

<!-- Cart Page Section Begin -->
{% if cart %}
<div class="cart-page">
  <div class="container">
    <div class="row py-2">
      <div class="col-md-12">
        {% if messages %}
        {% include "../message.html" %}
        {% endif %}
      </div>
    </div>
    <div class="cart-table">
      <table>
        <thead>
          <tr>
            <th class="product-h">Product</th>
            <th>Price</th>
            <th class="quan">Quantity</th>
            <th>Total</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for item in cart %}
          {% with product=item.product %}
          <tr>
            <td class="product-col">
              <img src="{{product.thumbnail}}" alt="" />
              <div class="p-title">
                <h5>{{product.title}}</h5>
              </div>
            </td>
            <td class="price-col">$ {{product.price|floatformat:"2"}}</td>
            <td class="quantity-col">
              <div class="pro-qty">
                <a href="?product_id={{product.id}}&&quantity=-1">
                  <span class="dec qtybtn">-</span>
                </a>
                <input disabled type="text" value="{{item.quantity}}" />
                <a href="?product_id={{product.id}}&&quantity=1">
                  <span class="inc qtybtn">+</span>
                </a>
              </div>
            </td>
            <td class="total">$ {{item.subtotal|floatformat:"2"}}</td>
            <td class="product-close">
              <a class="text-decoration-none text-dark" href="?product_id={{product.id}}&&quantity=-{{item.quantity}}">
              x
            </a>
          </td>
          </tr>
          {% endwith %}
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="cart-btn">
      <div class="row">
        <div class="col-lg-6">
          <div class="coupon-input">
            <input type="text" placeholder="Enter cupone code" />
          </div>
        </div>
        <div class="col-lg-5 offset-lg-1 text-left text-lg-right">
          <div class="site-btn clear-btn">
            <a class="text-decoration-none text-dark" href="?clear=true">
            Clear Cart
            </a>
          </div>
          <div class="site-btn clear-btn">
            <a class="text-decoration-none text-dark" href="#">
            Checkout
            </a>
          </div>
          {% comment %} <div class="site-btn update-btn">Update Cart</div> {% endcomment %}
        </div>
      </div>
    </div>
  </div>
  {% comment %} <div class="shopping-method">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="shipping-info">
            <h5>Choose a shipping</h5>
            <div class="chose-shipping">
              <div class="cs-item">
                <input type="radio" name="cs" id="one" />
                <label for="one" class="active">
                  Free Standard shhipping
                  <span>Estimate for New York</span>
                </label>
              </div>
              <div class="cs-item">
                <input type="radio" name="cs" id="two" />
                <label for="two"> Next Day delievery $10 </label>
              </div>
              <div class="cs-item last">
                <input type="radio" name="cs" id="three" />
                <label for="three"> In Store Pickup - Free </label>
              </div>
            </div>
          </div>
          <div class="total-info">
            <div class="total-table">
              <table>
                <thead>
                  <tr>
                    <th>Total</th>
                    <th>Subtotal</th>
                    <th>Shipping</th>
                    <th class="total-cart">Total Cart</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="total">$29</td>
                    <td class="sub-total">$29</td>
                    <td class="shipping">$10</td>
                    <td class="total-cart-p">$39</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="row">
              <div class="col-lg-12 text-right">
                <a href="#" class="primary-btn chechout-btn"
                  >Proceed to checkout</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> {% endcomment %}
</div>
{% else %}
<div class="cart-page">
  <div class="container">
      {% include "../no-cart.html" %}
  </div>
</div>
{% endif %}
<!-- Cart Page Section End -->

{% endblock content %}
