{% extends 'base.html' %}
{% load static %}
{% block title %} Login {% endblock title %}

{% block content %}
 <div class="container">
    <div class="row centered py-4 align-items-center justify-content-center">
        <form class="col-md-8" method="POST" novalidate>
            {% csrf_token %}
            <div class="form-group my-2">
                <h4 class="text-muted text-dark">Login to your account</h4>
            </div>
            <hr>
            <div class="form-group my-2">
                {% include '../message.html' %}
            </div>
            <div class="form-group my-1">
                <label for="username">Username or email</label>
                {{form.username}}
                {{form.username.errors}}
            </div>
            <div class="form-group my-1">
                <label for="password">Password</label>
                {{form.password}}
                {{form.password.errors}}
            </div>
            <div class="form-group d-grid gap-2 my-3">
                <button type="submit" class="btn btn-dark">Login</button>
            </div>
            <div class="my-3 mb-2 d-flex flex-column align-items-center justify-content-center">
                <p class="m-0">
                    Don't have an account ? Please <a class="text-decoration-none px-2 text-primary" href="{% url 'registration' %}">Register here</a>
                </p>
                <p class="py-2">
                    <a class="text-decoration-none px-2 text-primary" href="{% url 'password_reset' %}">Forget password ?</a>
                </p>
            </div>
        </form>
    </div>
</div>  

{% comment %} 
    <!-- Page Add Section Begin -->
    <section class="page-add">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="page-breadcrumb">
                        <h3>Login to your account</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Page Add Section End -->

    <!-- Contact Section Begin -->
    <div class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <form class="contact-form" method="POST" novalidate>
                        {% csrf_token %}
                        <div class="row">
                            {% if messages %}
                            <div class="col-lg-12 py-2">
                                {% include "../message.html" %}
                            </div>
                            {% endif %}
                            <div class="col-lg-12 py-2">
                                <input name='username' type="text" placeholder="Enter username/email">
                                {{form.username.errors}}
                            </div>
                            <div class="col-lg-12 py-2">
                                <input name="password" type="password" placeholder="Enter password">
                                {{form.password.errors}}
                            </div>
                            <div class="col-lg-12 text-left">
                                <button type="submit">Login</button>
                            </div>
                            <div class="col-lg-12 text-center">
                                <p>
                                    Don't have an account ? Please <a class="text-decoration-none px-2 text-primary" href="{% url 'registration' %}">Register here</a>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact Section End --> {% endcomment %}


{% endblock content %}